importing

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
df_ords_combined = pd.read_pickle(r"C:\Users\bodhi\Downloads\instacart basket analysis\data\prepared data\orders_products_combined.pkl")

In [3]:
df_ords_combined.shape

(32434489, 13)

In [4]:
df_ords_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,order_type,product_id,add_to_cart_order,reordered,_merge
0,0,2539329.0,1.0,prior,1.0,2.0,8.0,NaN,First Order,196,1,0,both
1,0,2539329.0,1.0,prior,1.0,2.0,8.0,NaN,First Order,14084,2,0,both
2,0,2539329.0,1.0,prior,1.0,2.0,8.0,NaN,First Order,12427,3,0,both
3,0,2539329.0,1.0,prior,1.0,2.0,8.0,NaN,First Order,26088,4,0,both
4,0,2539329.0,1.0,prior,1.0,2.0,8.0,NaN,First Order,26405,5,0,both

In [5]:
df_prods = pd.read_csv(r"C:\Users\bodhi\Downloads\instacart basket analysis\data\prepared data\products_checked.csv")

In [6]:
df_prods.shape

(49672, 6)

In [7]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

wrangling

In [8]:
df_ords_combined = df_ords_combined.drop('reordered', axis=1)

In [9]:
df_ords_combined = df_ords_combined.drop('_merge', axis=1)

In [10]:
df_ords_combined['product_id'] =df_ords_combined['product_id'].astype('int32')
df_ords_combined['add_to_cart_order']=df_ords_combined['add_to_cart_order'].astype('int32')

In [11]:
df_ords_combined ['order_id']=df_ords_combined ['order_id'].astype('int32')
df_ords_combined ['user_id'] =df_ords_combined ['user_id'].astype('int32')
df_ords_combined ['order_number']=df_ords_combined ['order_number'].astype('int8')
df_ords_combined ['order_dow']=df_ords_combined ['order_dow'].astype('int8')
df_ords_combined ['order_hour_of_day']=df_ords_combined ['order_hour_of_day'].astype('int8')
df_ords_combined ['days_since_prior_order']=df_ords_combined ['days_since_prior_order'].astype('float16')

merging + exporting

In [14]:
ords_prods_merge = df_ords_combined.merge(df_prods , on = 'product_id' , indicator = 'match' )

In [15]:
ords_prods_merge.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,order_type,product_id,add_to_cart_order,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match
0,0,2539329,1,prior,1,2,8,NaN,First Order,196,1,195,Soda,77,7,9.0,both
1,0,2539329,1,prior,1,2,8,NaN,First Order,14084,2,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,0,2539329,1,prior,1,2,8,NaN,First Order,12427,3,12427,Original Beef Jerky,23,19,4.4,both
3,0,2539329,1,prior,1,2,8,NaN,First Order,26088,4,26089,Aged White Cheddar Popcorn,23,19,4.7,both
4,0,2539329,1,prior,1,2,8,NaN,First Order,26405,5,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [17]:
ords_prods_merge['match'].value_counts()

match
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [18]:
#exporting
ords_prods_merge.to_pickle(r"C:\Users\bodhi\Downloads\instacart basket analysis\data\prepared data\ords_prods_merge.pkl")