importing

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [3]:
ords_prods_merge = pd.read_pickle(r"C:\Users\bodhi\Downloads\instacart basket analysis\data\prepared data\ords_prods_merge_2.pkl")

wrangling + grouping

In [4]:
ords_prods_merge.drop('Unnamed: 0_x', axis=1, inplace = True)

In [5]:
ords_prods_merge.drop('Unnamed: 0_y', axis=1, inplace = True)

In [7]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\bodhi\AppData\Local\Temp\ipykernel_15032\1681540670.py:1: FutureWarning: The provided callable <function max at 0x0000020C6991C860> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,order_type,product_id,add_to_cart_order,product_name,aisle_id,department_id,prices,match,price_range_loc,bussiest_days,bussiest_hours,max_order
0,2539329,1,prior,1,2,8,NaN,First Order,196,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,average orders,10
1,2539329,1,prior,1,2,8,NaN,First Order,14084,2,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,average orders,10
2,2539329,1,prior,1,2,8,NaN,First Order,12427,3,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,average orders,10
3,2539329,1,prior,1,2,8,NaN,First Order,26088,4,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,average orders,10
4,2539329,1,prior,1,2,8,NaN,First Order,26405,5,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,average orders,10

aggregating

In [9]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [10]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [11]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [12]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [14]:
#exporting
ords_prods_merge.to_pickle(r"C:\Users\bodhi\Downloads\instacart basket analysis\data\prepared data\ords_prods_merge_3.pkl")